section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    font-family: 'Bree Serif', serif;
    color:#e2e2e0df ;
}
p{
    font-family: 'Bree Serif', serif;
    color: #e2e2e0df;
}